<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!--Add a registration form here -->
    <nav class="navbar navbar-expand-md navbar-light  bg-dark" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dealernav" aria-controls="navbarTogglerDealerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-brand nav-link" href="{% url 'djangoapp:index' %}">Best Cars Dealership</a>
        <div class="collapse navbar-collapse" id="dealernav">
                <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
        </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li>
            <a class="btn btn-link" href="#"
              >{{ user.first_name }}{{ user.username }}</a
            >
            <a class="btn btn-link" href="logout/">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container" style="text-align: center">
      <h1>Login</h1>
      <form
        action="{% url 'djangoapp:login' %}"
        method="post"
        style="margin-top: 5%"
      >
        {% csrf_token %}
        <div class="mb-3">
          <label
            for="username"
            class="form-label"
            style="font-size: 1.5em; font-weight: normal"
            >User Name</label
          >
          <br />
          <input
            type="text"
            placeholder="Enter User Name: "
            name="username"
            style="width: 50%; border-radius: 7px"
            required
          />
        </div>
        <div class="mb-3">
          <label
            for="exampleInputPassword1"
            class="form-label"
            style="font-size: 1.5em"
            >Password</label
          >
          <br />
          <input
            type="password"
            placeholder="Enter Password: "
            style="width: 50%; border-radius: 7px"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
